body {
    background-color: black;
}

figcaption {
    position: absolute;
    bottom: 1rem;
    margin: 0 2rem;
    color: white;
    font-size: 1.5em;
    margin-left: 20%;
    margin-bottom: 20%;
}

p {
    color: white;
}

.carousel-container {
    height: 540px;
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-hr-divider {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0; 
    padding: 0;
}

.socials-container {
    
}

.icon {
    color: white;
}

.icon:hover {
    color: steelblue;
}

button {
    color: black;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background-color: rgb(87, 161, 221);
}

button:hover {
    color: black;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background-color: steelblue;
}

.side-projects-container {
    width: 100%;
    height: 1080px;
    /* margin-top: 30px; */
    margin-top: 2.1%;
}

.project-container {
    width: 21.1%;
    height: 46%;
    background-color: azure;
    margin-top: 7%;
    margin-left: 7.5%;
    border-radius: 15px;
    /* border-radius: 4%; */
}

.project-container:hover {
    background-color: rgb(165, 165, 165);
}

.project-subtitle {
    color:rgb(59, 92, 107);
    font-size: 12px;
    margin-bottom: -10px;
}

.project-caption-container {
    /* background-color: blue; */
    width: 254px;
    height: 100px;
    margin-left: 5.5%;
    margin-top: 5%;
    border-radius: 5px;
    border:black solid;
    border-width: 2px;
}

.caption-text {
    margin-top: 4px;
    color: black;
    font-size: 9px;
}

.project-hr {
    margin-top: 20px;
    margin-bottom: -15px;
    margin-left: 42px;
    width: 200px;
    border-color: steelblue;
    background-color: steelblue;
    height: 50px;
    border: 0;
}

.image-container {
    /* background-color: red; */
    /* width: 250px; */
    width: 90%;
    height: 55%;
    margin-left: 5.3%;
    margin-top: 10%;
    border-radius: 5px;
    border: black solid;
    border-width: 2px;
    overflow: hidden;
    position: relative;
}

.image-object {
    width: 252px;
    height: 260px;
}

.project-links {

}
