body {
    background-color: black;
}

figcaption {
    position: absolute;
    bottom: 1rem;
    margin: 0 2rem;
    color: white;
    font-size: 1.5em;
    margin-left: 20%;
    margin-bottom: 20%;
}

p {
    color: white;
}

.carousel-container {
    height: 540px;
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0; 
    padding: 0;
}

.socials-container {
    
}

.icon {
    color: white;
}

.icon:hover {
    color: steelblue;
}

button {
    color: black;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background-color: rgb(87, 161, 221);
}

button:hover {
    color: black;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background-color: steelblue;
}

.side-projects-container {
    width: 1425px;
    height: 1080px;
    margin-top: 30px;
}

.project-container {
    width: 300px;
    height: 500px;
    background-color: azure;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 15px;
}
